*-Ex.R
*.aux
*.knit.md
*.log
*.out
*.rds
*.utf8.md
*_cache/
.httr-oauth
.Rapp.history
.RData
.Rhistory
.Rproj.user
.Rproj.user# History files
.Rproj.user/
.Ruserdata
/*.Rcheck/
/*.tar.gz
/cache/
common/content/policies.html
syllabus_*.out
vignettes/*.html
vignettes/*.pdf